@tailwind base;
@tailwind components;
@tailwind utilities;

.signin {
  background-color: #54bff5;
  background-image: linear-gradient(160deg, #54bff5 0%, #34ffc5 100%);
}
.enterydiv {
  background-color: #54bff5;
  background-image: linear-gradient(160deg, #54bff5 0%, #34ffc5 100%);
}
.workoutroomdiv {
  background-color: #54bff5;
  background-image: linear-gradient(160deg, #54bff5 0%, #34ffc5 100%);
}
.enteryform {
  color: orangered;
}
.enteryform button {
  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}
.nav {
  background: rgb(0, 180, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 180, 255, 0.8125) 0%,
    rgba(117, 247, 255, 0.5688025210084033) 84%
  );
  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}
.form {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ffffff 0%, #daf9f9 100%);

  box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
}
.form input {
  background-color: transparent;
  outline: none;
}

.entery-input {
  background-color: transparent;
  outline: none;
}
.form button {
  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}

.about-section {
  background-color: #54bff5;
  background-image: linear-gradient(160deg, #54bff5 0%, #34ffc5 100%);
}
.about-div {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ffffff 0%, #daf9f9 100%);

  box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
}

.logdiv {
  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}
.btnshaddow {
  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}
