@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}
body h1 {
  font-family: 'Rowdies', cursive;
}
body a {
  font-family: 'Rowdies', cursive;
}
body p {
  font-family: 'Rowdies', cursive;
}

.stats-fonts {
  font-family: 'Patrick Hand', cursive;
}
.award-setting-grid-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 2rem));
}
.stats-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 25rem));

  justify-content: center;
}
.award-fonts {
  font-family: 'Patrick Hand', cursive;
  text-shadow: 1px 1px 0px #00b1ff;
  font-size: 1.2rem;
}
.signin {
  background-color: #54bff5;
  background-image: linear-gradient(160deg, #54bff5 0%, #34ffc5 100%);
}
.enterydiv {
  background-color: #54bff5;
  background-image: linear-gradient(160deg, #54bff5 0%, #34ffc5 100%);
}
.workoutroomdiv {
  background: white;
}
.enteryform {
  color: orangered;
}
.enteryform button {
  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}
.nav {
  background: white;
  border-bottom: 2px solid rgba(52, 52, 52, 0.49);

  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}
.form {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ffffff 0%, #daf9f9 100%);

  box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
}
.form input {
  background-color: transparent;
  outline: none;
}

.entery-input {
  background-color: transparent;
  outline: none;
}
.form button {
  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}

.roomform input {
  background-color: transparent;
  outline: none;
}

.div-bg {
  background-color: white;
  border: 1px solid black;
}

.about-section {
  background-color: #54bff5;
  background-image: linear-gradient(160deg, #54bff5 0%, #34ffc5 100%);
}

.about-div {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ffffff 0%, #daf9f9 100%);

  box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.56);
}

.text-color {
  color: #2a2a2ac8;
}
.logdiv {
  box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.56);
}
.btnshaddow {
  box-shadow: 4px 4px 7px -2px hsla(0, 0%, 57%, 0.484);
  -webkit-box-shadow: 4px 4px 7px -2px hsla(0, 0%, 57%, 0.484);
  -moz-box-shadow: 4px 4px 7px -2px rgba(53, 53, 53, 0.56);
}

.scroll::-webkit-scrollbar {
  width: 0 !important;
}
.pushup-input::-webkit-outer-spin-button,
.pushup-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pushup-input[type='number'] {
  -moz-appearance: textfield;
}
